page-home {
.creater{
    background-image: url('../assets/imgs/product-hugerectl.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100% 100%;
        background-image: transparent;  
}
}
